@charset "utf-8";

.service_td p {
    color:#666;
    padding: 2px 7px;
    font-size: 9px;
    font-weight: bold;
}

.service_td span {
    margin-left: 10px;
    color:#666;
    font-size: 10px;
    font-weight: bold;
}

input.serv_descr {
    margin: 5px 0px 5px 5px;
}

input.serv_price {
    margin-left: 5px;
}

.serv1 {
    background: #F5F5F5;
    width: 650px;
    margin-left: 25px;

}
.serv2 {
    width: 650px;
    margin-left: 25px;
}
