<script type="text/javascript">
    jQuery(function($){
        $("#id_phone").mask("(999) 999-9999");
    });
</script>
<form class="oneclick_form" id="oneclick_form" method="post" action="">
    <h2>Обратный звонок</h2>
    <p>Пожалуйста, заполните краткую контактную информацию. Наши сотрудники свяжутся с вами в удобное для вас время.</p>

    <div class="input input3">
        <label>Ваш телефон:</label>
        <strong>+7</strong> {{ one_clk_form.phone }}{{ one_clk_form.phone.errors }}
    </div>
    <div class="tel_example">Например: 964 464 19 58</div>
    <div style="display: none;">
        {{ one_clk_form.product }}
        {{ one_clk_form.product.errors }}
        {{ one_clk_form.product_description }}
        {{ one_clk_form.product_description.errors }}
        {{ one_clk_form.product_price }}
        {{ one_clk_form.product_price.errors }}
    </div>

    <div><input class="btn1 oneclick_submit" id="oneclick_submit" type="button" value="Отправить заявку" /></div>
</form>