{% extends "base.html" %}

{% load thumbnail pages_extras products_extras %}

{% block title %}
    {{ category.title }} &mdash;
{% endblock %}

{% block main %}
    {% block_catalog_menu category.id %}

    <div class="right col">
        <div class="bread">
            {% if is_subcat %}
                <a href="{{  category.parent.get_absolute_url }}">{{ category.parent.title }}</a> /
            {% else %}
                {% comment %}<a href="{{  category.get_absolute_url }}">{{ category.title }}</a> /{% endcomment %}
            {% endif %}
        </div>

        <div class="page_h">
{#            {% if is_subcat %}#}
                <h1>{{ category.title }}</h1>
{#            {% endif %}#}
            <ul>
                <li class="catalog_mode_brick {% if not request.GET.view or request.GET.view != 'list' %}catalog_mode_brick_curr{% endif %}"><a href="?view=pic{% get_request_parameters request.GET 'False' 'view,price_sort,title_sort,ship_sort' %}"><span>картинки</span></a></li>
                <li class="catalog_mode_line {% if request.GET.view == 'list' %}catalog_mode_brick_curr{% endif %}"><a href="?view=list{% get_request_parameters request.GET 'False' 'view' %}"><span>список</span></a></li>
            </ul>
        </div>

        {% include 'products/products_list.html' %}

    </div><!--/right-->


{% endblock %}