{% extends "base.html" %}

{% load thumbnail products_extras pytils_numeral %}

{% comment %}
{% block title %}
    Главная &mdash;
{% endblock %}
{% endcomment %}

{% block main %}
    {% block_catalog_menu '' %}
    <div class="right col">
        <div class="promos">
                <div class="promo_1">
                    <ul class="slider">
                        {% for product in slider_products %}
                            <li {% if forloop.first %}class="curr_slide"{% endif %}>
                            <a class="promo_a" href="{{ product.get_absolute_url }}">
                                <div class="promo_1_l col">
                                   <h2 class="promo_item_name">{{ product.category.get_root.title_singular|title }} {{ product.title }}</h2>
                                   {% if item.status %}
                                        <div class="item_status item_wait">Срок доставки: {{ item.status }} {{ item.status|choose_plural:"день,дня,дней" }}</div>
                                    {% else %}
                                        <div class="item_status item_available">Есть в наличии</div>
                                    {% endif %}
                                   <div class="main_params">
                                       {% for feature_value in product.get_base_feature_values %}
                                           <div class="main_param">
                                               <div class="main_param_name"><span>{{ feature_value.feature_name.title }}</span></div>
                                               <div class="main_param_val">{{ feature_value.value }}</div>
                                           </div>
                                       {% endfor %}
                                   </div>
                                </div>
                                <div class="promo_1_r col">
                                    {% thumbnail product.image "185x134" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" style="margin:{{ im|margin:"185x134" }}" height="{{ im.height }}"/>
                                    {% endthumbnail %}
                                    <div class="item_price">{{ product.get_str_price }} <i class="r">руб.</i></div>
                                </div>
                            </a></li>
                        {% endfor %}
                    </ul>
                </div>

            <div class="promo_2">
                <a class="promo_a" href="/carting_and_payment/">
                    <span class="promo_h">Доставка и оплата</span>
                </a>
            </div>

            <div class="promo_3">
                <a class="promo_a" href="/service_and_warranty/">
                    <span class="promo_h">Сервис и гарантии</span>
                </a>
            </div>

            {% if big_banners %}
                {% for banner in big_banners %}
                    <div class="{% cycle 'promo_4' 'promo_5' %}">
                        {% thumbnail banner.image "376x158" crop="center" as im %}
                            <a class="promo_a" {% if banner.is_target_blank %}target="_blank"{% endif %} href="{{ banner.link }}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" /></a>
                        {% endthumbnail %}
                    </div>
                {% endfor %}
            {% endif %}

            <a class="promo_arr_l" href="#"></a>
            <a class="promo_arr_r" href="#"></a>
        </div><!--/promos-->
    </div><!--/right-->

    {% if hit_products %}
        <div class="left col">
            <div class="arr_zl">Хиты продаж</div>
        </div><!--/left-->

        <div class="right col">
            {% include 'products/products_list.html' %}
        </div>
    {% endif %}

{% endblock %}

