{% load pytils_numeral thumbnail %}

{% for item in items %}
    <tr class="loaded" style="display: none;">
        <td class="history_num_col"><div class="history_num">{{ tr_count|add:forloop.counter }}</div></td>
        <td class="history_items_col">
            {% for product in item.get_products %}
                <div class="history_item">
                    <div>{{ product.product.category.title_singular|title }}</div>
                    <div><strong>{{ product.product.title }}</strong></div>
                </div>
            {% endfor %}
        </td>
        <td class="history_status_col">
            {% if item.order_status == 'processed' %}
                <div class="history_status history_status_ok">Обрабатывается</div>
            {% endif %}{% if item.order_status == 'posted' %}
                <div class="history_status history_status_ok">Отправлен</div>
            {% endif %}{% if item.order_status == 'delivered' %}
                <div class="history_status history_status_ok">Доставлен</div>
            {% endif %}{% if item.order_status == 'cancelled' %}
                <div class="history_status history_status_cancel">Отменен</div>
            {% endif %}
            <div>{{ item.create_date|date:"j E" }}</div>
        </td>
        <td class="history_price_col">
            <em>Стоимость заказа</em> <span class="item_price">{{ item.total_price }} <i class="r">руб.</i></span>
        </td>
    </tr>
{% endfor %}

{% if remaining_count %}
    <input type="hidden" id="remaining_count_text" value="Ещё {{ remaining_count }} заказ{{ remaining_count|choose_plural:",а,ов" }}">
{% endif %}